body {  font-family: "Times New Roman", Times, serif;
        background-color: peru; text-align: center}

#leftPic {

    text-align: left;
    color: white;
}

#rightPic {

    text-align:right;
    color: white;
}

img {
    max-width: 50%;
    overflow: no-content}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    width: 40%
}

/* Bottom left text */
.bottom-right {
    position: absolute;
    bottom: 4px;
    right: 16px;
    width: 30%
}
