/**
File: homepage.html
Name: Kevin Ahn and Kyle Slager
Class: CS325, January 2019
*/


body { font-family: "Times New Roman", Times, serif;
       background-image:url('ASSETS/Regatta_pics/regatta-002.jpg');
       background-repeat: no-repeat; background-size: cover; text-align: center}


.validEmail {color: green; text-align: center}
.isValid {color: green ; display: inline}
.hidden {visibility: hidden}
.invalid {color: red; text-align: center}
footer a {position: relative;
            bottom: 0; left:0}

p {
	line-height: 1.8;
	font-size: 20px;
	}

h2{
	font-size: 32px; text-align: center;
	}

/* Styling for the form box that contains the textarea and such */
#contactForm {border: 1px solid black; margin: 0 auto; width: 50%;
              background-color: palegoldenrod;}
 
.contactValidator {margin: 0 auto; width: 50%; min-width: 400px}

input {width: 100%; font-size: 20px}
legend {background-color: aliceblue; font-size: 25px; border: 1px solid black}
textarea {width: 100%; font-size: 20px}


#contactInfo {text-align: left;  margin: 0 auto; width: 50%;
              background-color: aliceblue; opacity: 0.75;
                min-width: 400px; padding-left: 1%}

.success {visibility: hidden}