/**
File: homepage.html
Name: Kevin Ahn and Kyle Slager
Class: CS325, January 2019
*/


body {
font-family: "Times New Roman", Times, serif; background-color: blue
}


.validEmail {color: green; display:inline}
.isValid {color: green ; display: inline}
.hidden {visibility: hidden}

footer a {position: relative;
            bottom: 0; left:0}
       
.mainTitle {float: left; font-size: 32px;
                text-align: center; color: white;
                position: fixed;
                left: 0;
                margin-left: 10px;}

.mainTitle a {float: left; font-size: 32px;
					margin: 10px 16px;
                    text-decoration: none;
                    text-align: center; color: white;
                    z-index: 5;
                    opacity: .75}

.navigationBar {float: right; font-size: 32px;
                text-align: center; color: white;
                position: fixed;
                right: 0;
                margin-right: 10px;}

.navigationBar a {float: left; font-size: 32px;
					margin: 10px 16px;
                    text-decoration: none;
                    text-align: center; color: white;
                    z-index: 5;
                    opacity: .75}

.navigationBar a:hover {border-bottom: 2px solid white;}

p {
	line-height: 1.8;
	font-size: 20px;
	}

h2{
	font-size: 32px;
	}
		
/* Dropdown Button */
.dropbtn {
font-family: "Times New Roman", Times, serif;
float: left;
  background: transparent;
  color: white;
  margin: 10px 16px;
  font-size: 32px;
  opacity: .8;
  text-decoration: none;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
float: left;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  margin-top:50px;
  margin-left:16px;
  position: absolute;
  background: transparent;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	text-align: center;
  color: white;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {}

/* Styling for the form box that contains the textarea and such */
fieldset {border: 1px solid black;
		margin-left: 30%; margin-right:30%; width: 40%}
 
