#leftButton, #rightButton {
    width:200px;
    display:inline-block;
    overflow: auto;
    white-space: nowrap;
    margin:0px auto;
    border:1px red solid;
}

#leftButton{
    float: left;
}

#rightButton{
    float: right;
}

body {
    background: cornflowerblue;
}

.propSect {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 750px;
    background-color: white;
    border: 2px dashed black;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

#propertyNav {
    width: 50px;
    height: 100px;
    top: 50px;
    position: fixed


}

.left {
    text-align: left;
    display: inline-block;
}

.right {
    text-align: right;
    display: inline-block;
}

table, tr, td {
    height: 50px;
    table-layout: fixed;
    font-size: 24px;
}

tr, td {
    text-align: center;
    font-size: 24px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

caption {
    text-align: center;
    font-size: 24px;
}
